{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>CAP - 공통 경보 프로토콜</title>

  <!-- CSS -->

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/cover.css">
  
  <!-- Title icon -> 같은 공간 내의 img 폴더의 이미지 파일 -->
  <link rel="icon" href="../static/img/capLogo.jpg" sizes="397X118">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="base.html">Home</a>
          <a class="nav-link" href="header.html">Header</a>
          <a class="nav-link" href="info.html">Info</a>
          <a class="nav-link" href="area.html">Area</a>
          <a class="nav-link" href="resource.html" tabindex="-1" aria-disabled="true">Resource</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <img class="d-block mx-auto mb-4" src="./lib/images/cap.png" alt="" width="255" height="77">
      <h1 class="cover-heading">Common Alerting Protocol.</h1>
      <p class="lead">
        <b>CAP 생성기&trade;</b> 는
        <a href="http://docs.oasis-open.org/emergency/cap/v1.2/CAP-v1.2-os.html" target="_blank">Common Alerting Protocol(v1.2)</a>.
        에 기반한 알림과 메시지를 생성하기 위한 기본 도구로써 제공됩니다.
      </p>
      
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>COPYRIGHT © 2020 <a href="https://twitter.com/mdo">HONGGI</a> ALL RIGHTS RESERVED.</p>
      </div>
    </footer>
  </div>
</body>
</html>