<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CAP - 공통 경보 프로토콜</title>

    <!-- CSS -->
    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

    <!-- Title icon -> 같은 공간 내의 img 폴더의 이미지 파일 -->
    <link rel="icon" href="./lib/images/capLogo.jpg" sizes="397X118">

    <!-- Calendar -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
    

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="index.html">Home</a>
                    <a class="nav-link active" href="header.html">Header</a>
                    <a class="nav-link" href="info.html">Info</a>
                    <a class="nav-link" href="area.html">Area</a>
                    <a class="nav-link" href="resource.html" tabindex="-1" aria-disabled="true">Resource</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <form name="capForm" class="a" action="/send" method="POST">
                <div class="form-group">
                    <span class="d-inline-block">
                        <label class="field_label">식별자(IDENTIFIER)
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="popover" 
                                data-content="MUST NOT include spaces, commas or restricted characters. (< and &).">*
                            </button>
                        </label>
                    </span>
                    <input type="text" name="identifier" id="identifier" class="form-control" value="" placeholer="KARO-0306112239-SW">
                </div>
                <div class="form-group">
                    <span class="d-inline-block">
                        <label class="field_label">송신자(SENDER)</label>
                    </span>
                    <input type="text" name="sender" id="sender" class="form-control" value="" placeholer="">
                </div>
                <div class="form-group">
                    <span class="d-inline-block">
                        <label class="field_label">송신시간(SENT)</label>
                    </span>
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker" data-target-input="nearest"> <input type="text"
                                class="form-control datetimepicker-input" data-target="#datetimepicker2" value="2020-01-01">
                            <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span class="d-inline-block">
                        <label class="field_label">문서용도(STATUS)
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    문서용도
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">실제상황(Actual)</a>
                                    <a class="dropdown-item" href="#">훈련상황(Exercise)</a>
                                    <a class="dropdown-item" href="#">시스템 메시지(System)</a>
                                    <a class="dropdown-item" href="#">시스템 시험(Test)</a>
                                    <a class="dropdown-item" href="#">경보 서식(Draft)</a>
                                    <a class="dropdown-item" href="#">기타</a>
                                </div>
                            </div>
                        </label>
                    </span>
                    <span class="d-inline-block">
                        <label class="field_label">문서관리(MsgType)
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    문서관리
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">신규 경보</a>
                                    <a class="dropdown-item" href="#">경보 메시지 갱신</a>
                                    <a class="dropdown-item" href="#">경보 메시지 취소</a>
                                    <a class="dropdown-item" href="#">확인</a>
                                    <a class="dropdown-item" href="#">오류</a>
                                    <a class="dropdown-item" href="#">기타</a>
                                </div>
                            </div>
                        </label>
                    </span>
                    <div class="form-group">
                        <label class="field_label">참조(REFERENCE)</label>
                        <textarea name="reference" id="reference" class="form-control" data-mini="true"
                            placeholder="South Central San Bernardino, Western Riverside, and North Central San Diego Counties, Southern California"></textarea>
                    </div>
                </div>
                
            </form>
        </main>
        
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p class="text-center">COPYRIGHT © 2020 <a href="https://twitter.com/mdo">HONGGI</a> ALL RIGHTS RESERVED.</p>
            </div>
        </footer>
    </div>

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <script type='text/javascript'>
        $(function () {
            $('.input-group.date').datepicker({
                calendarWeeks: false,
                todayHighlight: true,
                autoclose: true,
                format: "yyyy/mm/dd",
                language: "kr"
            });
        });
    </script>
</body>
</html>